<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File" name="full" fileName="${currentdir}/logs/${shortdate}.log"
            layout="[${time} ${uppercase:${level}}] ${message}" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7"/>
    <target xsi:type="File" name="errors" fileName="${basedir}/logs/${shortdate}_err.log"
            layout="[${time} ${uppercase:${level}}] ${message} ${exception:format=tostring}" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" />
    <target name="console" xsi:type="ColoredConsole"
            layout="[${time} ${uppercase:${level}}] ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="full" />
    <logger name="*" level="Error" writeTo="errors" />
  </rules>
</nlog>